*{ 
    margin : 0; 
    padding: 0; 
    box-sizing: border-box;
}

a{ 
    text-decoration: none; 
}

li{ 
    list-style: none; 
}

a:hover{
    text-decoration: none;
}

.navbar-toggler button{
    color: black;
}

p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(70, 193, 255, 0.712), rgba(70, 193, 255, 0.712)), url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
}

.header::before{
    content: "";
    position: sticky;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.1;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.2;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.nav-item a{
    color: #fff!important;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);

}

.font-weight-bold{
    font-size: 70px;
}

.header-buttons a{
    border: 1px solid #fff;
    border-radius:  100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.header-buttons a:hover{
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}

.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}

.extradiv{
    background: #fff;
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s;
}

i{
    color: #2f73cc;
}
.extradiv h2{
    font-size: 1.3rem;
    margin: 20px 0 15px 0;
    font: bold;
    line-height: 1.1;
    word-spacing: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.extradiv:hover{
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
    transform: translateY(-20px);
}

.courseoffers{
    background: #e9e9ee;
    padding: 50px 0;
    margin-bottom: 50px;
}
 
.headings{
    margin-bottom: 50px;
}

.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}

.coursediv h2{
    font-size: 1.2rem;
    margin: 20px 0 15px 0;
    font: bold;
    line-height: 0.6;
    word-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.course-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress{
    height: 0.8rem!important;
    margin-bottom: 25px!important;
    background: #606060;
}

.specializing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.specializing:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
    background: linear-gradient(160deg ,#09bfec 55%, #fff 0%);
}

.card{
    transition: 0.4s ease;
}

.card-header{
    font-size: 1.9rem;
    font-weight: bold;
    background: rgb(236, 233, 233)!important;
    padding: 25px 9!important;
}

.card-body{
    padding: 20px 40px 8px 40px!important;
    text-align: center;
    word-spacing: 10px;
}

.card-body li{
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}

.card:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    color: rgb(0, 0, 0);
    background: #abc6d6;
    text-decoration: none;
    transform: translateY(-20px);
}

.card-second{
    transform: translateY(-20px);
    box-shadow: 0 0 200px 0 rgba(0,0,0,0.3);
}

.feedback{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}

.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s ease;
}

.box:hover P{
    color: white;
}

.box:hover{
    background: #16c9f6!important;
}


.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important;
}

.carousel-indicators li{
    background-color: #16c9f6!important;
}

.box a{
    position: relative;
}

.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.box a:after{
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    color: white;
    position: absolute;
    top: 120%;
    left: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.box h1{
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.box h2{
    font-size: 13px;
    font-weight: 400px;
    color: #666666;
    margin-bottom: 20px;

}

.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}

.contactus:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);
    z-index: -1;
}

.form-button button{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background: transparent;
}

.form-button button:hover{
    color: #50d1c0;
}

form:hover .form-button button{
    background: #fff;
    color: #38b7ddee;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

::placeholder{
    font-size: 0.85rem;
}

.footer-main{
    width: 100%;
    height: auto;
    padding: 50px 0 5px 0;
    background: #388ab1;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fluid p{
    color: #fff;
}

.footer-grid-w3ls li i{
    color: #fff;
}

.footer-grid-w3ls img{
        margin-left: 1px;
        margin-top: 20px;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
}

.footer-grid-w3ls img:hover{
    transform: translateY(-20px);
    transition: 0.3s ease;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    background: transparent;
    border: 1px solid #50d1c0;
}

.whatsapp {
    position: fixed;
    right: 4px;
    top: 62%;
}
.whatsapp h7 {
    padding: 0px;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 100px;
    right: 10px;
    z-index: 99;
    border: none; 
    outline: none;
    background: #388ab1; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
  }

  #myBtn:hover {
    background-color: rgb(143, 136, 136);
  }

  @media(max-width: 1000px){
      .nav-item{
          text-align: center!important;
      }

      .navbar-toggler{
          color: black;
          background-color: black;
      }

      .specializing, .feedback, .contactus{
          height: auto;
          margin-top: 70px;
      }

      .card-second{
        transform: translateY(0px);
        margin: 30px 0;
      }

      .contactus p{
          padding: 0 50px;
      }

      .whatsapp {
        position: fixed;
        right: 1px;
        top: 60%;
    }

    .font-weight-bold{
        font-size: 30px;
        padding-top: 30%;
    }
    
  }
  